%table.boxestb{:border => "0"}
  %tr
    %td.boxestd
      
    %td.boxestd
      .fproductos
        
        = render 'form'
        = link_to 'Back', productos_path
    
    %td.boxestd
      
