/* css docuement by Templatesperfect.com */
body
{
background-image:url('bg.png');
}

.content
{
background-image:url('contentbg.png');
width:850px;
height:766px;
margin-left:auto;
margin-right:auto;
}

.navbar
{
background-image:url('navbarbg.png');
margin-left:auto;
margin-right:auto;
width:794px;
height:36px;
text-align:center;
padding-top:7px;
}

table.navbartb
{
margin-left:auto;
margin-right:auto;
}
td.navtd
{
padding-left:10px;
padding-right:10px;
}

img.navimg
{
vertical-align:middle;
}
a.linknav
{
outline:none;
}

table.boxestb

{
width:794px;
margin-left:auto;
margin-right:auto;
}
td.boxestd
{
vertical-align:top;
padding-top:20px;
padding-left:11px;
padding-right:11px;
}

.categories
{
background-image:url('boxes/categories.png');
margin-left:auto;
margin-right:auto;
width:204px;
height:253px;
padding-top:55px;
padding-left:20px;
}

a.linkcat
{
font-family:'Arial';
font-size:14px;
font-weight:normal;
text-decoration:none;
outline:none;
letter-spacing:0px;
line-height:21px;
color:#AFAFAF;
}

a.linkprod
{
font-family:'Arial';
font-size:14px;
font-weight:bold;
text-decoration:none;
outline:none;
letter-spacing:0px;
line-height:21px;
color:#29befc;
}
p.allproductsp
{
text-align:right;
width:170px;
margin-left:auto;
margin-right:auto;
}

.fproduct
{
background-image:url('boxes/featuredproducts.png');
margin-left:auto;
margin-right:auto;
width:327px;
height:552px;
text-align:center;
padding-top:55px;
}

.fproductos
{
background-image:url('boxes/misproductos.png');
margin-left:auto;
margin-right:auto;
width:327px;
height:552px;
text-align:center;
padding-top:55px;
}
.fproducto
{
background-image:url('boxes/producto.png');
margin-left:auto;
margin-right:auto;
width:231px;
height:221px;
text-align:center;
padding-top:45px;
margin: 10px;
float:left
}
.flogin
{
background-image:url('boxes/login.png');
margin-left:auto;
margin-right:auto;
width:327px;
height:377px;
text-align:center;
padding-top:55px;
}

span.titleprod
{
font-family:'Arial';
font-size:23px;
font-weight:normal;
text-decoration:none;
color:#29befc;
}


p.descriptionp
{
width:246px;
font-family:'Arial';
font-size:13px;
font-weight:normal;
font-style:italic;
text-decoration:none;
color:#9F9F9F;
text-align:left;
margin-left:auto;
margin-right:auto;
}




p.btnp
{
width:246px;
text-align:right;
margin-left:auto;
margin-right:auto;
height:30px;
}


.yourbasket
{
background-image:url('boxes/yourbasket.png');
margin-left:auto;
margin-right:auto;
width:194px;
height:102px;
padding-top:46px;
}

p.basketext
{
width:168px;
font-family:'Arial';
font-size:13px;
font-weight:bold;
font-style:normal;
color:#fc9605;
text-align:right;
margin-left:auto;
margin-right:auto;
}

p.bstext
{
width:160px;
font-family:'Arial';
font-size:13px;
font-weight:normal;
font-style:normal;
color:#9F9F9F;
text-align:left;
margin-left:auto;
margin-right:auto;
}
.newgifts
{
background-image:url('boxes/newgift.png');
margin-left:auto;
margin-right:auto;
width:194px;
height:391px;
padding-top:46px;
text-align:center;
}
p.titlenewgift
{
width:160px;
font-family:'Arial';
font-size:13px;
font-weight:bold;
font-style:normal;
margin-left:auto;
margin-right:auto;
color:#00c6ff;
}
p.newdetails
{
width:160px;
font-family:'Arial';
font-size:13px;
font-weight:bold;
font-style:normal;
margin-left:auto;
margin-right:auto;
color:#fc9605;
text-align:right;
}



a.linknewgifts
{
font-family:'Arial';
font-size:13px;
font-weight:bold;
font-style:normal;
color:#fc9605;
text-decoration:underline;
outline:none;
}

.specialoffer
{
background-image:url('boxes/specialoffer.png');
margin-left:auto;
margin-right:auto;
width:224px;
height:245px;
padding-top:30px;
text-align:center;
}

.titlespecialo
{
width:190px;
font-family:'Arial';
font-size:23px;
font-weight:normal;
font-style:normal;
margin-left:auto;
margin-right:auto;
color:#00c6ff;
text-align:center;
}

.footer
{
width:830px;
margin-left:auto;
margin-right:auto;
font-family:'Arial';
font-size:13px;
font-weight:normal;
font-style:normal;
color:#FFF;
text-align:right;

}